<form method="post">
  <label>Nom: <input type="text" name="nom"/></label><br/>
  <label>Prénom: <input type="text" name="prenom"/></label><br/>
  <label>Date de naissance :</label><br/>
  <label>Jour: <input type="text" name="jourNaiss"/></label>
  <label>Mois: <input type="text" name="moisNaiss"/></label>
  <label>Année: <input type="text" name="anneeNaiss"/></label><br/>
  <label>Lieu d'habitation :</label><br/>
  <label>Code postale: <input type="text" name="cp"/></label>
  <label>Ville: <input type="text" name="ville"/></label><br/>
  <label>Rue: <input type="text" name="rue"/></label>
  <label>Numéro: <input type="text" name="numero"/></label><br/>
  <label>Gsm: <input type="text" name="gsm"/></label><br/>
  <label>Adresse e-mail: <input type="text" name="email"/></label><br/>
  <label>Username: <input type="text" name="pseudo"/></label><br/>
  <label>Mot de passe: <input type="password" name="password"/></label><br/>
  <label>Confirmation du mot de passe: <input type="password" name="passewordVerification"/></label><br/>
  <input type="submit" value="M'inscrire"/>
</form>
