<img id="logo" src="http://www.novemberfire.com/shirtspopup/NFTpop137.gif" alt="logo">
<div id="connexion"> <a routerLink="/connexion">Connexion</a> </div>

<div>
  <nav id="navigation">
    <ul>
      <li> <a routerLink="/accueil" class="menu">Accueil</a>        </li>
      <li> <a routerLink="/catégorie" class="menu" >Catégorie</a>   </li>
      <li> <a routerLink="/à propos" class="menu" >A propos</a>     </li>
      <li> <a routerLink="/contact" class="menu" >Contact</a>       </li>

      <!-- Barre de recherche -->
      <li><form id="barre_recherche" action="/recherche" method="get">
            <input id="recherche_text" name="recherche_text" type="text" placeholder="Mot clé" />
            <input id="recherche_btn" type="submit" value="Rechercher" />
          </form>
      </li>
      <li> <a routerLink="/panier" title="Panier">Mon panier</a> </li>
    </ul>
  </nav>
</div>
