
#logo {
  width: 100px;
  height: 100px;
  padding: 10px 30px;
}
.form .logo img {
  display: block;
  width: 100%;
}

#connexion{
  color:black;
  font-size: 20px;
  text-align: right;
  margin-right: 5px;
  margin-bottom: 5px;
}

#navigation{
  background-color: #429398;  /* Couleur du header */
}

#navigation
ul{
  text-align:center;
}
ul li{
  display:inline-block;
}


#navigation ul
{
  padding-top: 10px;
  padding-bottom: 10px;
  margin:auto;
  margin-bottom:30px;
  max-width: 1400px;
  min-width: 400px;
  list-style: none;
  text-align:center;

}


#navigation ul li
{
  display: inline-block;
  margin: 0 10px;
}


#navigation a
{
  display: inline-block;
  font-size: 1.2em;
  font-family:helvetica;
  color: white;
  text-decoration: none;
  text-transform: uppercase;


}

#navigation a:hover
{
  color: #e7c049; /* Couleur de la police */
}

#barre_recherche
{
  text-align:center;

}



#recherche_text
{
  font-family:helvetica;
  font-size: 15px;
  color:#A4A4A4;
  border: none; /* Supprime les bordures par défaut */
  border-bottom-style: solid; /* Style de la bordure */
  border-bottom-width: 1px; /* Epaisseur de la bordure */
  border-bottom-color: #ffffff; /* Couleur de la bordure */
  padding: 5px 5px 5px 5px; /* Espace autour du texte du champ de saisie : haut droite bas gauche */
}

/* Bouton valider */
#navigation #recherche_btn {
  height: 29px;
  width: 130px;
  color: #429398; /* Couleur du texte du bouton valider */
  letter-spacing: 1px; /* Espacement des caractères du texte du bouton valider */
  font-family: 'Lato', sans-serif; /* Police du texte du bouton valider */
  font-style: normal; /* Style de la police du texte du bouton valider : normal = normal ; italic = italique */
  font-weight: normal; /* Graisse du texte du bouton valider : normal = normal ; bold = gras */
  font-size: 14px; /* Taille de la police du texte du bouton valider */
  text-transform: uppercase; /* Texte en majuscules */
  background-color: #fff; /* Fond du bouton valider */
  border: none; /* Pas de bordure au bouton valider */
  margin-left: 5px; /* Espace à gauche du bouton valider */
}

/* Bouton valider au survol de la souris */
#navigation #recherche_btn:hover {
  background-color: #e7c049; /* Couleur de fond */
  color: #fff; /* Couleur de la police */
}

