<div class="container w3-container">
  <h1><b>Panier</b></h1>
  <div class="row itemsBlock">
    <div *ngFor="let produit of ListeAuPanier;index as i;" class="col-md-2">
      <div class="w3-card" style="width:90%">
        <img [src]="produit.urlImage" alt="Person" style="width:100%">
        <div class="w3-container">
          <br>
          <h6>{{produit.nom}}</h6>
          <h6>Prix : {{produit.prix}}€</h6>
          <h6>Quantité : <input type="number" class="form-control" [ngStyle]="{'color': quantite[i] <= produit.stock && quantite[i]>=1 ? 'green' : 'red'}" placeholder="Quantité de Stock" name="quantite" [(ngModel)]="quantite[i]" value="1" min="1" [max]="produit.stock" required></h6>
          <h6><button class="btn btn-success btn-lg" (click)="quantite[i] = quantite[i]+1">+</button> <button class="btn btn-danger btn-lg" (click)="quantite[i] = quantite[i]-1">-</button></h6>
        </div>
        <br>
      </div>
      <br>
    </div>
  </div>
  <button type="submit" class="btn btn-default" (click)="totalAllOrder()" >Valider la commande : {{totalAllOrder()}}€</button>
</div>
