<input type="text" name="term" [(ngModel)]="term">

<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th></th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Date de naissance</th>
      <th>Code postal</th>
      <th>Ville</th>
      <th>Rue</th>
      <th>Numéro</th>
      <th>Gsm</th>
      <th>Email</th>
      <th>Mot de passe</th>
      <th>Admin</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let utilisateur of listeUtilisateurs | utilisateur :term; index as i;">
      <td> <span class="glyphicon glyphicon-remove" (click)="deleteUtilisateur(i)"></span> </td>
      <td> <input type="text" [(ngModel)]="utilisateur.prenom" (blur)="updateUtilisateur(utilisateur)"> </td>
      <td> <input type="text" [(ngModel)]="utilisateur.nom" (blur)="updateUtilisateur(utilisateur)"> </td>
      <td> <input type="text" [(ngModel)]="utilisateur.dateNaissance" (blur)="updateUtilisateur(utilisateur)"> </td>
      <td> <input type="text" [(ngModel)]="utilisateur.cp" (blur)="updateUtilisateur(utilisateur)"> </td>
      <td> <input type="text" [(ngModel)]="utilisateur.ville" (blur)="updateUtilisateur(utilisateur)"> </td>
      <td> <input type="text" [(ngModel)]="utilisateur.rue" (blur)="updateUtilisateur(utilisateur)"> </td>
      <td> <input type="text" [(ngModel)]="utilisateur.num" (blur)="updateUtilisateur(utilisateur)"> </td>
      <td> <input type="text" [(ngModel)]="utilisateur.gsm" (blur)="updateUtilisateur(utilisateur)"> </td>
      <td> <input type="text" [(ngModel)]="utilisateur.mail" (blur)="updateUtilisateur(utilisateur)"> </td>
      <td> <input type="text" [(ngModel)]="utilisateur.mp" (blur)="updateUtilisateur(utilisateur)"> </td>
      <td> <input type="text" [(ngModel)]="utilisateur.admin" (blur)="updateUtilisateur(utilisateur)"> </td>
    </tr>
    </tbody>
  </table>
</div>

