/* Form */
.container {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 100px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}

#p{
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
}

.container .logo {
  width: 200px;
  height: 200px;
  margin: 0 auto 30px;
  padding: 10px 30px;
}
.container .logo img {
  display: block;
  width: 100%;
}
