<div class="form">
  <div class="logo"><img src="http://www.novemberfire.com/shirtspopup/NFTpop137.gif"/></div>
  <form class="register-form">
    <input type="text" placeholder="name"/>
    <input type="password" placeholder="password"/>
    <input type="text" placeholder="email address"/>
    <button>create</button>
    <p class="message">Already registered? <a href="#">Sign In</a></p>
  </form>
  <form>
    <input type="text" placeholder="Pseudo"/>
    <input type="password" placeholder="Mot de passe"/>
    <button>Se connecter</button>
    <p class="message">Pas encore enregistré ? <a href="#">Créer un compte</a></p>
  </form>
</div>
